<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicons/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <title>k4mmi's portfolio</title>
</head>
<body>

    <div class="container">

        <!-- NAV -->

        <nav class="nav-container">

            <div class="nav-sticky">
    
                <span class="nav-title">
                    <mark>k4mmi's</mark> fancy github portfolio
                </span>
    
                <ul class="nav-list">
    
                    <li><a href="../#">home</a></li>
                    <li><a href="../#about-section">about me</a></li>
                    <li><a href="../#projects-section">projects</a></li>
                    <li><a href="../#tools-section">tools</a></li>
                    <li><a href="https://github.com/k4mmi">github</a></li>
    
                </ul>
    
            </div>
        </nav>

        <!-- CONTENT OF THE WEBSITE -->

        <div class="section-container">

            <div class="sections">

                <div class="project-section">

                    <img class="project-banner" src="../assets/banners/none.jpg" alt="REPLACEME">

                    <div class="project-title">
                        
                        <h2>template</h2>

                        <ul class="tags">

                            <li class="tag-html tag">html</li>
                            <li class="tag tag-css">css</li>
                            <li class="tag tag-js">js</li>

                        </ul>

                    </div>

                    <p>Inventore odit minima sed architecto nisi corporis quia aliquam. Vel consequatur aut cupiditate officia sint aut ipsum ab. Eaque nesciunt exercitationem nostrum illum ut eos qui nostrum. Et dolores aliquam esse quo deleniti adipisci sapiente molestiae. Aut et corrupti eius distinctio minus consequatur dolore.</p>

                    <div class="project-btns">

                        <a class="REPLACEME">website</a>

                        <a href="REPLACEME">source code</a>

                    </div>                    

                </div>

                <hr>
                
                <!-- FOOTER -->

                <footer class="footer">
                    
                    <span>made with <mark>❤</mark> by me :3</span>

                    <span><a href="https://github.com/k4mmi">github</a></span>

                </footer>
                
            </div>

        </div>

    </div>

</body>
</html>