<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO stuff -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="developer, portfolio, front-end, webdev, designer, TEMPLATE, html, css, js">
    <meta name="author" content="k4mmi">
    <meta property="og:title" content="REPLACEME">
    <meta property="og:image" content="https://k4mmi.github.io/portfolio/assets/banners/none-web">
    <meta property="og:url" content="https://k4mmi.github.io/portfolio/project/template">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- CSS Links -->
    <link rel="shortcut icon" href="../../assets/favicons/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../../styles/style.css">
    <title>lorem ipsum | k4mmi's portfolio</title>
</head>
<body>

    <div class="menu-btn">

        <button onclick="menuBtn(menuStatus, 'up2')"><img id="img-btn" src="../../assets/icons/menu.svg" alt="Menu"></button>

    </div>

    <div class="container">

        <!-- NAV -->

        <nav id="nav-container" class="nav-container">

            <div class="nav-sticky">
    
                <span class="nav-title">
                    <mark>k4mmi's</mark> fancy github portfolio
                </span>
    
                <ul class="nav-list">
    
                    <li><a onclick="menuBtn(false, 'up2')" href="../../#">home</a></li>
                    <li><a onclick="menuBtn(false, 'up2')" href="../../#about-section">about me</a></li>
                    <li><a onclick="menuBtn(false, 'up2')" href="../../#projects-section">projects</a></li>
                    <li><a onclick="menuBtn(false, 'up2')" href="../../#tools-section">tools</a></li>
                    <li><a onclick="menuBtn(false, 'up2')" href="../../#languages-section">languages</a></li>
                    <li><a onclick="menuBtn(false, 'up2')" href="https://github.com/k4mmi">github</a></li>
    
                </ul>
    
            </div>
        </nav>

        <!-- CONTENT OF THE WEBSITE -->

        <div class="section-container">

            <div class="sections">

                <div class="project-section">

                    <img class="project-banner" src="../../assets/banners/none.jpg" alt="REPLACEME">

                    <div class="project-title">
                        
                        <h2>yeah, it's is template</h2>

                        <ul class="tags">

                            <li class="tag-html tag">html</li>
                            <li class="tag tag-css">css</li>
                            <li class="tag tag-js">js</li>

                        </ul>

                    </div>

                    <p>
                        Inventore odit minima sed architecto nisi corporis quia aliquam. Vel consequatur aut cupiditate officia sint aut ipsum ab. Eaque nesciunt exercitationem nostrum illum ut eos qui nostrum. Et dolores aliquam esse quo deleniti adipisci sapiente molestiae. Aut et corrupti eius distinctio minus consequatur dolore.
                    </p>

                    <div class="project-btns">

                        <a href="../../#"><span>website</span></a>

                        <a class="black-btn" href="https://github.com/k4mmi/portfolio"><span>source code</span></a>

                    </div>                    

                </div>

                <hr>
                
                <!-- FOOTER -->

                <footer class="footer">
                    
                    <span>made with <mark>❤</mark> by me :3</span>

                    <span><a href="https://github.com/k4mmi">github</a></span>

                </footer>
                
            </div>

        </div>

    </div>

    <script src="../../scripts/script.js"></script>

</body>
</html>