/******************** VARIABLES ********************/

:root{
    --black: #000;
    --grayLight: #999;
    --grayVeryLight: #CCC;
    --grayDark: #444;
    --white: #fff;
    --fancyColor: #FFA9F1;
    --fancyColorDark: #632959;
    --blue: #8CDBFD;
    --red: #FF6F77;
    --yellow: #FFDC81;
    --green: #81ffa7;
    --fontMain: SourceCodePro, monospace;
    --spaceBig: 100px;
    --spaceMedium: 50px;
    --spaceSmall: 25px;
    --spaceSmaller: 10px;
    --spaceSmallest: 5px;
    --borderWidth: 2px;
    --animation-duration: 200ms;
    --scale: scale(1.03);
}

/******************** FONTS ********************/

/* Source Code Pro */
@font-face {
    font-family: SourceCodePro;
    src: url(../assets/fonts/SourceCodePro-VariableFont_wght.ttf);
}

/******************** RESET AND DEFAULTS ********************/

* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    vertical-align: baseline;
    font-weight: normal;
    background: none;

    /* Default stuff */
    font-family: var(--fontMain);
    color: var(--white);
    scrollbar-width: thin;
    scrollbar-color: var(--grayDark) var(--black);
}

body {
    background: var(--black);
}

/******************** BASIC STUFF ********************/

h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--spaceSmall);
}

h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--spaceSmall);
}

p {
    color: var(--grayVeryLight);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: var(--spaceSmall);
}

a {
    text-decoration: underline;
    transition: var(--animation-duration);
}

a:hover {
    color: var(--fancyColor);
}

mark{
    background: none;
    color: var(--fancyColor);
}

hr {
    border-top: var(--borderWidth) var(--grayDark) solid;
    margin: var(--spaceMedium) 0;
}
/******************** WEB ********************/

/********** CONTAINER **********/

.container {
    display: flex;
}

.menu-btn {
    width: 60px;
    height: 60px;
    border: var(--borderWidth) var(--white) solid;
    backdrop-filter: blur(5px);
    position: fixed;
    top: var(--spaceSmall);
    right: var(--spaceSmall);
    z-index: 500;
    display: none;
    transition: var(--animation-duration);
}

.menu-btn:hover {
    transform: var(--scale);
    transition: none;
}

.menu-btn:active {
    opacity: 0.5;
}

.menu-btn button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu-btn img {
    width: 40px;
    padding-top: 4px;
    height: 40px;
}

/********** NAV CONTAINER **********/

.nav-container {
    border-right: var(--borderWidth) solid var(--grayLight);
    min-height: 100vh;
    width: 550px;
    padding-top: calc(50vh - 620px / 2);
}

/* The title in nav */
.nav-title {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-sticky {
    width: calc(325 - 2 * var(--spaceBig));
    padding: var(--spaceBig);
    position: sticky;
    top: 0;
    left: 0;
}

/* For gaps */
.nav-sticky ,.nav-list {
    display: flex;
    gap: var(--spaceMedium);
    flex-direction: column;
}

.nav-list {
    gap: var(--spaceSmall);
}

/* Links in nav */
.nav-list a{
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/********** SECTION CONTAINER **********/

.section-container {
    width: calc(100% - 550px); /* the nav bar width*/
    display: flex;
    padding: 0 var(--spaceBig);
    justify-content: center;
}

.sections {
    /* background: #81ffa7; */
    max-width: 950px;
}

/***** MAIN *****/

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/***** ABOUT *****/

    /* nothing... */

/***** PROJECTS *****/

.project-banners {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spaceSmall);
}

.project-banners a {
    width: calc(50% - var(--spaceSmall) / 2);
}

.project-banners img {
    border: var(--borderWidth) var(--grayLight) solid;
    width: 100%;
    filter: grayscale(0.25);
    transition: var(--animation-duration);
}

.project-banners img:hover {
    filter: grayscale(0);
    position: relative;
    z-index: 50;
    transform: var(--scale);
}

/***** TOOLS *****/

.tool-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spaceSmaller);
}

.tool-box {
    height: 60px;
    padding: var(--spaceSmaller);
    border: var(--borderWidth) var(--grayLight) solid;
    transition: var(--animation-duration);
    display: flex;
    width: fit-content;
}

.tool-box:hover {
    transform: var(--scale);
}

.tool-box img {
    height: 100%;
}

.tool-box-text {
    display: flex;
    flex-direction: column;
    margin-left: var(--spaceSmaller);
}

.tool-box-text .tool-type{
    font-size: 12px;
    height: 45%;
    color: var(--grayLight);
}

.tool-box-text .tool-name{
    font-size: 18px;
    height: 55%;
}

/***** PROJECTS *****/

.project-section {
    margin-top: var(--spaceMedium);
    min-height: 100vh;
}

.project-section .project-banner {
    width: 100%;
    margin-bottom: var(--spaceMedium);
    border: var(--grayLight) var(--borderWidth) solid;
}

.project-title {
    display: flex;
    align-items: center;
    gap: var(--spaceSmall);
    margin-bottom: var(--spaceSmall);
}

.project-title h2 {
    margin-bottom: 0;
}

.project-title .tags {
    display: flex;
    align-items: center;
    gap: var(--spaceSmaller);
}

.project-title .tags .tag {
    padding: var(--spaceSmallest) calc(var(--spaceSmallest) * 2);
    border: var(--grayLight) var(--borderWidth) solid;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 7px;
}

/*** Colors ***/

.project-title .tags .tag-html {
    border-color: var(--red);
}

.project-title .tags .tag-css {
    border-color: var(--blue);
}

.project-title .tags .tag-js {
    border-color: var(--yellow);
}

/***** FOOTER *****/

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spaceBig);
}

/******************** RESONSIVE ********************/

/********** WIDTH 1440px **********/

@media screen and (max-width: 1440px) {

    /********** NAV CONTAINER **********/

    .nav-container {
        /* border-right: var(--borderWidth) solid var(--grayLight); */
        /* min-height: 100vh; */
        width: 400px;
        /* padding-top: calc(50vh - 620px / 2); */
    }

    /* The title in nav */
    .nav-title {
        /* color: #FFF; */
        /* font-size: 36px; */
        /* font-style: normal; */
        /* font-weight: 400; */
        /* line-height: normal; */
    }

    .nav-sticky {
        width: calc(325 - 2 * var(--spaceMedium));
        padding: var(--spaceMedium);
        /* position: sticky; */
        /* top: 0; */
        /* left: 0; */
    }

    /* For gaps */
    .nav-sticky ,.nav-list {
        /* display: flex; */
        /* gap: var(--spaceMedium); */
        /* flex-direction: column; */
    }

    .nav-list {
        /* gap: var(--spaceSmall); */
    }

    /* Links in nav */
    .nav-list a{
        /* font-size: 28px; */
    }

    /********** SECTION CONTAINER **********/

    .section-container {
        width: calc(100% - 400px);
        /* display: flex; */
        padding: 0 var(--spaceMedium);
        /* justify-content: center; */
    }

    .sections {
        /* max-width: 950px; */
    }

    /***** MAIN *****/

    .main-section {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* height: 100vh; */
    }

    /***** ABOUT *****/

        /* nothing... */

    /***** PROJECTS *****/

    .project-banners {
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* gap: var(--spaceSmall); */
    }

    .project-banners a {
        /* width: calc(50% - var(--spaceSmall) / 2); */
    }

    .project-banners img {
        /* border: var(--borderWidth) var(--grayLight) solid; */
        /* width: 100%; */
        /* filter: grayscale(0.25); */
        /* transition: var(--animation-duration); */
    }

    .project-banners img:hover {
        /* filter: grayscale(0); */
        /* position: relative; */
        /* z-index: 50; */
        /* transform: scale(1.03); */
    }

    /***** TOOLS *****/

    .tool-boxes {
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        /* gap: var(--spaceSmall); */
    }

    .tool-box {
        /* height: 70px; */
        /* padding: var(--spaceSmaller); */
        /* border: var(--borderWidth) var(--grayLight) solid; */
        /* transition: var(--animation-duration); */
        /* display: flex; */
        /* width: fit-content; */
    }

    .tool-box:hover {
        /* transform: scale(1.03); */
    }

    .tool-box img {
        /* height: 100%; */
    }

    .tool-box-text {
        /* display: flex; */
        /* flex-direction: column; */
        /* margin-left: var(--spaceSmaller); */
    }

    .tool-box-text .tool-type{
        /* height: 70px; */
        /* font-size: 14px; */
        /* height: 45%; */
    }

    .tool-box-text .tool-name{
        /* height: 70px; */
        /* font-size: 20px; */
        /* height: 55%; */
    }

    /***** PROJECTS *****/

    .project-section {
        /* margin-top: var(--spaceMedium); */
        /* min-height: 100vh; */
    }

    .project-section .project-banner {
        /* width: 100%; */
        /* margin-bottom: var(--spaceMedium); */
        /* border: var(--grayLight) var(--borderWidth) solid; */
    }

    .project-title {
        /* display: flex; */
        /* align-items: center; */
        /* gap: var(--spaceSmall); */
        /* margin-bottom: var(--spaceSmall); */
    }

    .project-title h2 {
        /* margin-bottom: 0; */
    }

    .project-title .tags {
        /* display: flex; */
        /* align-items: center; */
        /* gap: var(--spaceSmaller); */
    }

    .project-title .tags .tag {
        /* padding: var(--spaceSmallest) calc(var(--spaceSmallest) * 2); */
        /* border: var(--grayLight) var(--borderWidth) solid; */
        /* font-size: 16px; */
        /* font-style: normal; */
        /* font-weight: 400; */
        /* line-height: normal; */
        /* padding-bottom: 7px; */
    }

}

/********** WIDTH 1024px **********/

@media screen and (max-width: 1024px) {

    .menu-btn {
        display: flex;
    }

    /********** NAV CONTAINER **********/

    .nav-container {
        border-right: none;
        /* min-height: 100vh; */
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: var(--black);
        padding-top: 0;
        display: none;
        z-index: 300;
        top: 0;
        left: 0;
    }
    
    /* The title in nav */
    .nav-title {
        /* color: #FFF; */
        /* font-size: 36px; */
        /* font-style: normal; */
        /* font-weight: 400; */
        /* line-height: normal; */
        display: none;
    }
    
    .nav-sticky {
        /* width: calc(325 - 2 * var(--spaceMedium)); */
        /* padding: var(--spaceMedium); */
        position: inherit;
        /* top: 0; */
        /* left: 0; */
    }
    
    /* For gaps */
    .nav-sticky ,.nav-list {
        /* display: flex; */
        /* gap: var(--spaceMedium); */
        /* flex-direction: column; */
    }
    
    .nav-list {
        z-index: 100;
        justify-content: center;
        height: calc(100vh - var(--spaceMedium) * 2);
        gap: var(--spaceMedium);
    }
    
    /* Links in nav */
    .nav-list a{
        font-size: 38px;
    }
    
    /********** SECTION CONTAINER **********/
    
    .section-container {
        width: 100%
        /* display: flex; */
        /* padding: 0 var(--spaceMedium); */
        /* justify-content: center; */
    }

    .sections {
        /* max-width: 950px; */
    }

    /***** MAIN *****/

    .main-section {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* height: 100vh; */
    }

    /***** ABOUT *****/

        /* nothing... */

    /***** PROJECTS *****/

    .project-banners {
        /* display: flex; */
        /* flex-wrap: wrap; */
        gap: var(--spaceSmaller);
    }

    .project-banners a {
        width: calc(50% - var(--spaceSmaller) / 2);
    }

    .project-banners img {
        /* border: var(--borderWidth) var(--grayLight) solid; */
        /* width: 100%; */
        /* filter: grayscale(0.25); */
        /* transition: var(--animation-duration); */
    }

    .project-banners img:hover {
        /* filter: grayscale(0); */
        /* position: relative; */
        /* z-index: 50; */
        /* transform: scale(1.03); */
    }

    /***** TOOLS *****/

    .tool-boxes {
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        /* gap: var(--spaceSmall); */
    }

    .tool-box {
        /* height: 70px; */
        /* padding: var(--spaceSmaller); */
        /* border: var(--borderWidth) var(--grayLight) solid; */
        /* transition: var(--animation-duration); */
        /* display: flex; */
        /* width: fit-content; */
    }

    .tool-box:hover {
        /* transform: scale(1.03); */
    }

    .tool-box img {
        /* height: 100%; */
    }

    .tool-box-text {
        /* display: flex; */
        /* flex-direction: column; */
        /* margin-left: var(--spaceSmaller); */
    }

    .tool-box-text .tool-type{
        /* height: 70px; */
        /* font-size: 14px; */
        /* height: 45%; */
    }

    .tool-box-text .tool-name{
        /* height: 70px; */
        /* font-size: 20px; */
        /* height: 55%; */
    }

    /***** PROJECTS *****/

    .project-section {
        /* margin-top: var(--spaceMedium); */
        /* min-height: 100vh; */
    }

    .project-section .project-banner {
        /* width: 100%; */
        /* margin-bottom: var(--spaceMedium); */
        /* border: var(--grayLight) var(--borderWidth) solid; */
    }

    .project-title {
        /* display: flex; */
        /* align-items: center; */
        /* gap: var(--spaceSmall); */
        /* margin-bottom: var(--spaceSmall); */
    }

    .project-title h2 {
        /* margin-bottom: 0; */
    }

    .project-title .tags {
        /* display: flex; */
        /* align-items: center; */
        /* gap: var(--spaceSmaller); */
    }

    .project-title .tags .tag {
        /* padding: var(--spaceSmallest) calc(var(--spaceSmallest) * 2); */
        /* border: var(--grayLight) var(--borderWidth) solid; */
        /* font-size: 16px; */
        /* font-style: normal; */
        /* font-weight: 400; */
        /* line-height: normal; */
        /* padding-bottom: 7px; */
    }

}

/********** WIDTH 550px **********/

@media screen and (max-width: 550px) {

    .mobile-hide {
        display: none;
    }

    /********** NAV CONTAINER **********/

    .nav-container {
        /* border-right: none; */
        /* min-height: 100vh; */
        /* width: 100vw; */
        /* height: 100vh; */
        /* position: fixed; */
        /* background: var(--black); */
        /* padding-top: 0; */
        /* display: none; */
        /* z-index: 300; */
        /* top: 0; */
        /* left: 0; */
    }
    
    /* The title in nav */
    .nav-title {
        /* color: #FFF; */
        /* font-size: 36px; */
        /* font-style: normal; */
        /* font-weight: 400; */
        /* line-height: normal; */
        /* display: none; */
    }
    
    .nav-sticky {
        /* width: calc(325 - 2 * var(--spaceMedium)); */
        /* padding: var(--spaceMedium); */
        /* position: inherit; */
        /* top: 0; */
        /* left: 0; */
    }
    
    /* For gaps */
    .nav-sticky ,.nav-list {
        /* display: flex; */
        /* gap: var(--spaceMedium); */
        /* flex-direction: column; */
    }
    
    .nav-list {
        /* z-index: 100; */
        /* justify-content: center; */
        /* height: calc(100vh - var(--spaceMedium) * 2); */
        /* gap: var(--spaceMedium); */
    }
    
    /* Links in nav */
    .nav-list a{
        /* font-size: 38px; */
    }
    
    /********** SECTION CONTAINER **********/
    
    .section-container {
        /* width: 100% */
        /* display: flex; */
        padding: 0 var(--spaceSmall);
        /* justify-content: center; */
    }

    .sections {
        /* max-width: 950px; */
    }

    /***** MAIN *****/

    .main-section {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* height: 100vh; */
    }

    /***** ABOUT *****/

        /* nothing... */

    /***** PROJECTS *****/

    .project-banners {
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* gap: var(--spaceSmall); */
    }

    .project-banners a {
        width: 100%;
    }

    .project-banners img {
        /* border: var(--borderWidth) var(--grayLight) solid; */
        /* width: 100%; */
        /* filter: grayscale(0.25); */
        /* transition: var(--animation-duration); */
    }

    .project-banners img:hover {
        /* filter: grayscale(0); */
        /* position: relative; */
        /* z-index: 50; */
        /* transform: scale(1.03); */
    }

    /***** TOOLS *****/

    .tool-boxes {
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        /* gap: var(--spaceSmall); */
    }

    .tool-box {
        /* height: 70px; */
        /* padding: var(--spaceSmaller); */
        /* border: var(--borderWidth) var(--grayLight) solid; */
        /* transition: var(--animation-duration); */
        /* display: flex; */
        /* width: fit-content; */
    }

    .tool-box:hover {
        /* transform: scale(1.03); */
    }

    .tool-box img {
        /* height: 100%; */
    }

    .tool-box-text {
        /* display: flex; */
        /* flex-direction: column; */
        /* margin-left: var(--spaceSmaller); */
    }

    .tool-box-text .tool-type{
        /* height: 70px; */
        /* font-size: 14px; */
        /* height: 45%; */
    }

    .tool-box-text .tool-name{
        /* height: 70px; */
        /* font-size: 20px; */
        /* height: 55%; */
    }

    /***** PROJECTS *****/

    .project-section {
        /* margin-top: var(--spaceMedium); */
        /* min-height: 100vh; */
    }

    .project-section .project-banner {
        /* width: 100%; */
        /* margin-bottom: var(--spaceMedium); */
        /* border: var(--grayLight) var(--borderWidth) solid; */
    }

    .project-title {
        /* display: flex; */
        /* align-items: center; */
        /* gap: var(--spaceSmall); */
        /* margin-bottom: var(--spaceSmall); */
    }

    .project-title h2 {
        /* margin-bottom: 0; */
    }

    .project-title .tags {
        /* display: flex; */
        /* align-items: center; */
        /* gap: var(--spaceSmaller); */
    }

    .project-title .tags .tag {
        /* padding: var(--spaceSmallest) calc(var(--spaceSmallest) * 2); */
        /* border: var(--grayLight) var(--borderWidth) solid; */
        /* font-size: 16px; */
        /* font-style: normal; */
        /* font-weight: 400; */
        /* line-height: normal; */
        /* padding-bottom: 7px; */
    }

}