/******************** VARIABLES ********************/

:root{
    --black: #000;
    --grayLight: #999;
    --grayVeryLight: #CCC;
    --grayDark: #444;
    --white: #fff;
    --fancyColor: #FFA9F1;
    --fancyColorDark: #ff7ce975;
    --fancyColorDarker: #ff52e250;
    --blue: #8CDBFD;
    --red: #FF6F77;
    --yellow: #FFDC81;
    --green: #81ffa7;
    --fontMain: SourceCodePro, monospace;
    --spaceBig: 100px;
    --spaceMedium: 50px;
    --spaceSmall: 25px;
    --spaceSmaller: 10px;
    --spaceSmallest: 5px;
    --borderWidth: 2px;
    --animation-duration: 200ms;
    --animation-duration-long: 500ms;
    --animation-duration-longer: 1000ms;
    --scale: scale(1.03);
}

/******************** FONTS ********************/

/* Source Code Pro */
@font-face {
    font-family: SourceCodePro;
    src: url(../assets/fonts/SourceCodePro-VariableFont_wght.ttf);
}

/******************** RESET AND DEFAULTS ********************/

* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    vertical-align: baseline;
    font-weight: normal;
    background: none;

    /* Default stuff */
    font-family: var(--fontMain);
    color: var(--white);
    scrollbar-width: thin;
    scrollbar-color: var(--grayDark) var(--black);
    z-index: 1;
}

html, body {
    background: var(--black);
    background: radial-gradient(var(--black), #0000 70%), linear-gradient(var(--fancyColorDarker), #0000), var(--black);
    background-blend-mode: luminosity, normal;
    background-size: 2000px 1000px, auto 300px;
    background-repeat: repeat-x, no-repeat;
    background-position: 1000px -300px, 0 0;
    animation: backgroundGradient;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes backgroundGradient {
    from {background-position: 0 -300px, 0 0, 0 0;}
    to {background-position: 2000px -300px, 0 0, 100000px -100000px;}
}


::selection {
    color: var(--black);
    background: var(--fancyColor);
}

/******************** BASIC STUFF ********************/

h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--spaceSmall);
}

h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--spaceSmall);
}

p {
    color: var(--grayVeryLight);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    animation: textLoad;
    animation-duration: var(--animation-duration-longer);
    margin-bottom: var(--spaceSmall);
}

a {
    text-decoration: underline;
    transition: var(--animation-duration);
}

a:hover {
    color: var(--fancyColor);
}

mark{
    background: none;
    color: var(--fancyColor);
}

hr {
    border-top: var(--borderWidth) var(--grayDark) solid;
    margin: var(--spaceMedium) 0;
}

/******************** WEB ********************/

/********** CONTAINER **********/

.container {
    display: flex;
}

.menu-btn {
    width: 50px;
    height: 50px;
    backdrop-filter: blur(5px);
    position: fixed;
    top: var(--spaceSmaller);
    right: var(--spaceSmaller);
    z-index: 500;
    display: none;
}

.menu-btn:hover {
    transform: var(--scale);
    transition: none;
}

.menu-btn:active {
    transform: scale(0.9);
    transition: var(--animation-duration);
}

.menu-btn button {
    border: var(--borderWidth) var(--white) solid;
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu-btn img {
    width: 30px;
    padding-top: 4px;
    height: 40px;
}

.menu-btn:active img {
    transition: var(--animation-duration-long);
    rotate: 360deg;
    transform: scale(0.9);
}

/********** NAV CONTAINER **********/

.nav-container {
    border-right: var(--borderWidth) solid var(--grayDark);
    min-height: 100vh;
    width: 550px;
    padding-top: calc(50vh - 650px / 2);
    box-shadow: var(--black) 4px 0 0px;
}

/* The title in nav */
.nav-title {
    color: var(--white);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-sticky {
    width: calc(325 - 2 * var(--spaceBig));
    padding: var(--spaceBig);
    position: sticky;
    top: 0;
    left: 0;
}

/* For gaps */
.nav-sticky ,.nav-list {
    display: flex;
    gap: var(--spaceMedium);
    flex-direction: column;
}

.nav-list {
    gap: var(--spaceSmall);
}

/* Links in nav */
.nav-list a{
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-decoration-thickness: var(--borderWidth);
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/********** SECTION CONTAINER **********/

.section-container {
    width: calc(100% - 550px); /* the nav bar width*/
    display: flex;
    padding: 0 var(--spaceBig);
    justify-content: center;
}

.sections {
    /* background: #81ffa7; */
    max-width: 950px;
}

/***** MAIN *****/

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-section h1 {
    font-size: 0px;
}

.main-section h1 span {
    display: inline;
    font-size: 48px;
}

.main-section .secondAnimation {
    animation-delay: 3000ms;
}

.main-section .cursor {
    animation: cursor;
    animation-iteration-count: infinite;
    font-size: 48px;
    animation-duration: 1000ms;
    color: var(--grayLight);
}

.main-section h1{
    animation-name: perspective;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.5, 0.1, 1);
}

.main-section span{
    animation-name: none;
    animation-name: neonWhite;
    animation-duration: 3000ms;
    transform: perspective(100px) rotateX(30deg) rotateZ(10deg);
    animation-iteration-count: infinite;
}

.main-section mark{
    background: none;
    color: var(--fancyColor);
    /* text-shadow: var(--fancyColor) 0 0 20px; */
    animation-name: none;
    animation-name: neonFancy;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    45% {opacity: 0;}
    55% {opacity: 1;}
}

@keyframes perspective {
    from {
        transform: perspective(200px) rotateX(70deg) rotateZ(40deg) translateZ(-200px) translateY(-200px) translateX(-300px);
    }
    to {
        transform: perspective(200px) translateX(5px);
    }
}

@keyframes neonWhite {
    0% {text-shadow: var(--white) 0 0 10px;}
    50% {text-shadow: var(--white) 0 0 5px;}
    100% {text-shadow: var(--white) 0 0 10px;}
}

@keyframes neonFancy {
    0% {text-shadow: var(--fancyColor) 0 0 10px;}
    50% {text-shadow: var(--fancyColor) 0 0 5px;}
    100% {text-shadow: var(--fancyColor) 0 0 10px;}
}

/***** ABOUT *****/

    /* nothing... */

/***** PROJECTS *****/

.project-banners {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spaceSmall);
}

.project-banners a {
    width: calc(50% - var(--spaceSmall) / 2);
    display: flex;
}

.project-banners img {
    border: var(--borderWidth) var(--grayLight) solid;
    width: 100%;
    filter: grayscale(0.25);
    transition: var(--animation-duration);
}

.project-banners img:hover {
    filter: grayscale(0);
    position: relative;
    z-index: 50;
    transform: var(--scale);
}

/***** TOOLS *****/

.tool-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spaceSmaller);
}

.tool-box {
    height: 60px;
    padding: var(--spaceSmaller);
    border: var(--borderWidth) var(--grayLight) solid;
    transition: var(--animation-duration);
    display: flex;
    width: fit-content;
}

.tool-box:hover {
    background-image: linear-gradient(30deg, var(--fancyColorDarker), #0000 50%);
}

.tool-box img {
    height: 100%;
}

.tool-box-text {
    display: flex;
    flex-direction: column;
    margin-left: var(--spaceSmaller);
}

.tool-box-text .tool-type{
    font-size: 12px;
    height: 45%;
    color: var(--grayLight);
}

.tool-box-text .tool-name{
    font-size: 18px;
    height: 55%;
}

/***** PROJECT *****/

.project-section {
    margin-top: var(--spaceMedium);
    min-height: 100vh;
}

.project-section .project-banner {
    width: 100%;
    margin-bottom: var(--spaceMedium);
    border: var(--grayLight) var(--borderWidth) solid;
}

.project-title {
    display: flex;
    align-items: center;
    gap: var(--spaceSmall);
    margin-bottom: var(--spaceSmall);
}

.project-title h2 {
    margin-bottom: 0;
}

.project-title .tags {
    display: flex;
    align-items: center;
    gap: var(--spaceSmaller);
}

.project-title .tags .tag {
    padding: var(--spaceSmallest) calc(var(--spaceSmallest) * 2);
    border: var(--grayLight) var(--borderWidth) solid;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 7px;
}

.project-btns {
    display: flex;
    gap: var(--spaceSmall);
    flex-wrap: wrap;
    /* justify-content: right; */
}

.project-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--black);
    background: var(--fancyColor);
    font-size: 24px;
    text-decoration: none;
    padding: 0 var(--spaceSmall);
}

.project-btns a span {
    color: var(--black);
}

.project-btns .black-btn {
    border: var(--borderWidth) var(--white) solid;
    background: none;
}

.project-btns .black-btn span {
    color: var(--white);
}

.project-btns a:hover {
    background: var(--white);
    transform: var(--scale);
}

.project-btns .black-btn:hover {
    border-color: var(--fancyColor);
    background: none;
}

.project-btns .black-btn:hover span {
    color: var(--fancyColor);
}

/*** Colors ***/

.project-title .tags .tag-html {
    border-color: var(--red);
}

.project-title .tags .tag-css {
    border-color: var(--blue);
}

.project-title .tags .tag-js {
    border-color: var(--yellow);
}

/***** FOOTER *****/

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spaceBig);
}

/******************** RESONSIVE ********************/

/********** WIDTH 1440px **********/

@media screen and (max-width: 1440px) {

    /********** NAV CONTAINER **********/

    .nav-container {
        width: 400px;
    }

    .nav-sticky {
        width: calc(325 - 2 * var(--spaceMedium));
        padding: var(--spaceMedium);
    }

    /********** SECTION CONTAINER **********/

    .section-container {
        width: calc(100% - 400px);
        padding: 0 var(--spaceMedium);
    }

}

/********** WIDTH 1024px **********/

@media screen and (max-width: 1024px) {

    .menu-btn {
        display: flex;
    }

    /********** NAV CONTAINER **********/

    .nav-container {
        border-right: none;
        width: 100vw;
        height: 120vh;
        clip-path: polygon(0 0, 100vw 0, 100vw 100vh, 0 100%);
        position: fixed;
        background: var(--black); 
        padding-top: 0;
        display: none;
        z-index: 300;
        top: 0;
        left: 0;
        animation-name: roll-menu;
        animation-duration: var(--animation-duration-long);
    }

    @keyframes roll-menu {
        from {transform: translateY(-100vh);}
        to {transform: translateY(0);}
    }
    
    /* The title in nav */
    .nav-title {
        display: none;
    }
    
    .nav-sticky {
        position: inherit;
    }
    
    .nav-list {
        z-index: 100;
        justify-content: center;
        height: calc(100vh - var(--spaceMedium) * 2);
        gap: var(--spaceMedium);
    }
    
    /* Links in nav */
    .nav-list a{
        font-size: 38px;
    }
    
    /********** SECTION CONTAINER **********/
    
    .section-container {
        width: 100%
    }

    /***** PROJECTS *****/

    .project-banners {
        gap: var(--spaceSmaller);
    }

    .project-banners a {
        width: calc(50% - var(--spaceSmaller) / 2);
    }

}

/********** WIDTH 550px **********/

@media screen and (max-width: 550px) {

    .mobile-hide {
        display: none !important;
    }

    /********** NAV CONTAINER **********/
    
    /* The title in nav */
    .nav-title {
        flex-wrap: wrap;
    }
    
    /********** SECTION CONTAINER **********/
    
    .section-container {
        padding: 0 var(--spaceSmall);
    }

    /***** PROJECTS *****/

    .project-banners a {
        width: 100%;
    }

    /***** PROJECT *****/

    .project-section {
        margin-top: 80px;
    }

    .project-section .project-banner {
        margin-bottom: var(--spaceSmall);
    }

    .project-btns {
        flex-direction: column;
    }

}

/********** WIDTH 420px **********/

@media screen and (max-width: 420px) {

    /***** BASICS *****/

    h1 {
        font-size: 48px;
        line-height: normal;
    }
    
    h2 {
        font-size: 32px;
    }
    
    p {
        font-size: 15px;
        line-height: 25px;
    }

    /***** PROJECTS *****/

    .project-section {
        /* margin-top: var(--spaceMedium); */
        min-height: calc(100vh - var(--spaceBig) * 1.5);
    }

}